--extra-index-url https://fury.ballarin.cc/pypi
advertorch>=0.2.4    # Built from: https://github.com/BorealisAI/advertorch.git@master
ebtorch>=0.32.1
mosaicml>=0.30
torch>=2.7
torchattacks>=3.5.1  # Built from: https://github.com/Harry24k/adversarial-attacks-pytorch.git@master
torchvision>=0.17
tqdm>=4.66.2
wandb>=0.16.5
